body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border-radius: 90px;
    width: 220px;
    height: 47px;
    padding: 15px 50px;
    background: #e74e13;

    font-weight: 700;
    text-align: center;
    color: #fff;
    transition: background-color ease-in-out 0.3s;
}

.btn:hover{
    background-color: #fff;
    color: #000000;
    border: 1px solid #1e6140;
    border-radius: 90px;
}


.menu__top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px  15px;
    background: #1e6140;
    font-weight: 300;
    color: #fff;
}

.top__auth:before{
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100px;
    height: 0;
    transform: rotate(-90deg);
}

.top__list{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.top__auth{
    display: flex;
    gap: 8px;
}



.menu__center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px 0 20px;
}

.center__img-logo{
    width: clamp(60px, 10vw, 150px); /* мін, гнучкий, макс розмір */
    height: auto;
}

.search {
    position: relative;
    width: 390px;
}

.search input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 90px;
    padding: 0 60px 0 20px;

    color: #484848;
}

.search input::placeholder {
    color: #777;
}

.search__btn {
    position: absolute;
    top: 50%;
    right: 0;

    transform: translateY(-50%);

    width: 52px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    border: none;
    border-left: 1px solid #D8D8D8;
    cursor: pointer;
}

.search__btn svg {
    width: 20px;
    height: 20px;
}

.center__phone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .phone__text{
        font-weight: 700;
        font-size: 14px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #84be51;
    }

    .phone__number{
        color: #000;
    }

}
.phone__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #8c3213;
    background: #fff;
    color: #8c3213;
    transition: background-color ease-in-out 0.3s;
}

.phone__img:hover{
    background-color: #8c3213;
    color: #fff;
    cursor: pointer;
}


.phone__card{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.counter__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.counter__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #8c3213;
    background: #fff;
    color: #8c3213;
    transition: background-color ease-in-out 0.3s;
}


.counter__item:hover{
    background-color: #8c3213;
    cursor: pointer;
}

.counter__item:hover .counter__link{
    color: #fff;
}


.menu_center{
    padding: 20px 0 20px;
}


.nav__bottom{
   margin: 0 auto;
}

.bottom__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bottom__item {
    width: 202px;
    height: 40px;
    border: 1px solid #1e6140;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.059;
    text-transform: uppercase;
    color: #000;
    transition: background 0.5s ease;


    &:hover {
        background-color: #e74e13;
        cursor: pointer;
        border: none;
    }

    &:hover .bottom__link {
        color: #fff;
    }

    &:hover .icon {
        color: #ffffff;
    }
}

.icon {
    width: 24px;
    height: 24px;
    color: #84BE51;
    flex-shrink: 0;
}

.bottom__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
}

.hero {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-image:
            linear-gradient(181.56deg, #fefdf4 0.86%, rgba(255, 255, 255, 0) 62.51%),
            linear-gradient(255.06deg, #fcfdfa 9.7%, rgba(255, 255, 255, 0) 83.7%),
            url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero__wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 70px;
    padding-left: 10px;
    padding-right: 10px;
}



.hero__content{
    display: block;
    width: 100%;
    max-width: 570px;
}

.image-wrapper {
    width: 700px;
    height: 500px;
    border-radius: 24px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 230px 4px 220px 4px; /* великий радіус по діагоналі */
    display: block;
}

.image-wrapper::after {
    content: "";
    display: inline-block;
    width: 200px;   /* Ширина вашого листочка (змініть на потрібну) */
    height: 180px;  /* Висота вашого листочка */
    background-image: url("../images/1.svg"); /* Шлях до вашої іконки листочка */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -120px;
    margin-top: -160px;
}

.image-wrapper::before {
    content: "";
    display: inline-block;
    width: 200px;   /* Ширина вашого листочка (змініть на потрібну) */
    height: 180px;  /* Висота вашого листочка */
    background-image: url("../images/1.svg"); /* Шлях до вашої іконки листочка */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 570px;
    margin-top: -160px;
    margin-bottom: -80px;
    position: relative;
}

.hero__title {
    font-weight: 300;

    span {
        font-weight: 700;
        /* Робимо розмір шрифту заголовка адаптивним */
        font-size: clamp(32px, 4vw, 55px);
        color: #000;
    }
}

.hero__title::before {
    content: "";
    display: inline-block;
    width: 40px;   /* Ширина вашого листочка (змініть на потрібну) */
    height: 40px;  /* Висота вашого листочка */
    background-image: url("../images/ector.svg"); /* Шлях до вашої іконки листочка */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -50px;
    margin-right: 12px;
}

.hero__text {
    padding: 10px 0 40px;
    /* Робимо основний текст теж адаптивним */
    font-size: clamp(14px, 1.2vw, 18px);
    color: rgba(0, 0, 0, 0.5);
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 97px 10px 97px;
}

.about__content{
    width: 100%;
    max-width: 540px;
}

.about__content::after {
    content: "";
    display: inline-block; /* Обов'язково для роботи width/height */
    width: 20px;           /* Вкажіть реальний розмір картинки */
    height: 20px;
    margin: -500px   00px   130px -255px;
    vertical-align: middle; /* Вирівнює картинку по центру відносно тексту */
    background-image: url("../images/ector.svg");
    background-repeat: no-repeat;
    background-size: contain; /* Щоб картинка вписалася в блок */
}

.about__img{
    width: 100%;
    max-width: 600px;
}

.about__title{
     font-weight: 700;
     font-size: 45px;
     color: #000;
    text-align: center;
 }


.about__text, p {
    padding: 6px;
    font-size: 0.7rem;color: rgba(0, 0, 0, 0.5);
}

.about__text, span{
    font-weight: 700;
    color: #1e6140;
}

.content__btn {
    display: inline-block;
    margin-top: 37px;
}




@media (max-width: 1120px) {

    .menu__top{
        gap: 15px;
    }

    .top__list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 13px;
    }

    .top__auth{
        font-size: 13px;
    }


    .menu__center{
        padding: 10px 10px;
    }

    .search{
        width: 250px;
    }

    .phone__card{
        gap: 1px;
    }

    .nav__bottom{
        padding: 0 5px;
    }


}

@media (max-width: 922px) {
    .menu__top{
        padding: 12px;
    }

    .counter__list{
        display: none;
    }
}


@media (max-width: 790px) {



    .menu__top{
        padding: 10px;
    }

    .top__list{
        gap: 10px;
        font-size: 10px;
    }

    .top__auth{
        font-size: 10px;
        gap: 6px;
    }

    .hero__wrapper{
        flex-wrap: wrap;
        padding-top: 130px;
    }

    .image-wrapper img {
        width: 70%;
        height: 70%;
        object-fit: cover;
        border-radius: 230px 4px 220px 4px; /* великий радіус по діагоналі */
        display: block;
    }

    .hero__content{
        width: 100%;
        max-width: 500px;
    }

}

@media (max-width: 670px) {
    .menu__center{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}