body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}


.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.top{
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 20px  15px ;
    background: #1e6140;
    font-weight: 300;
    color: #fff;

}

.nav__top-auth:before{
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 80px;
    height: 0;
    transform: rotate(-90deg);
}

.nav__top-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.nav__top-auth{
    display: flex;
    gap: 8px;
}

@media (max-width: 1050px) {

    .top{
        gap: 15px;
    }

    .nav__top-list{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 13px;
    }

    .nav__top-auth{
        font-size: 13px;
    }

}

@media (max-width: 870px) {


    .nav__top-list{
        gap: 10px;
        font-size: 10px;
    }

    .nav__top-auth{
        font-size: 10px;
        gap: 6px;
    }

}